*, *::after, *::before, *:after, *:before {
    box-sizing: border-box
}

body{
    background-color: bisque;
    margin: 3rem;
}
main{
    min-height: 60vh;
}

.output {
    border: solid blue 0.1rem;
    width: 50%;
}

div {
    padding: 0.3rem
}