/* Selector de descendientes*/

/* Importante poner esta parte al principio, el reseteo*/

*, 
*::before, *::after, 
*:before, *:after { 
box-sizing : border-box;
}

/* Distribucion elastica del container, para que pierda la elasticidad se pone un max-width:1080px y min-width: 480px por ejemplo*/
.wrapper {
    width: 90%;
    max-width: 1080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    padding: 2rem 1rem;
    background: linear-gradient(to right, rgba(158,183,219,1) 0%, rgba(133,162,207,1) 38%, rgba(113,145,197,1) 69%, rgba(93,128,187,1) 100%);
    
}

figure{
    float: left;
    width: 50%;
    padding:0;
    margin:0;
    padding-right: .7rem;
    text-align: center;
}

img{
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    /* font-family: 'Bangers', cursive; */
}

header p{
    color: brown;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    
}

.bother{
    clear: left;
}

header {
    border: 2px solid;
    padding: .1rem;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2{
    color: brown;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

h3{
    color: brown;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: .1rem;
}

footer {
    color: gray;
    text-align: center;
}

.asidetab{
    /* Movemos el aside a la derecha o a la izquierda*/
    /* border-bottom: .1rem solid;
    border-top: .1rem solid; */
    padding: .1rem;
    width: 40%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: .4rem;
    margin-top: 3rem;
    float: right;
    text-align: center;
}

/* Pone los enlaces dentro de aside de ese color*/
aside a:link{
    color: lightsalmon;
}

/* Cuando los enlaces se visitan se ponen red*/
aside a:visited{
    color: red;
}

p{
    text-align: justify;
}

table.t1 th {
    padding: .1rem;
}

table.t1 td{
    text-align: center;
    padding-right: .1rem;
}

table.t1 th,td{
    border: .1rem solid;
    font-size: .9rem;
}

table.t1{
    /* Junta los bordes*/
    border-collapse: collapse;
}




