*, *::after, *::before, *:after, *:before {
    box-sizing: border-box
}

body{
    background-color: bisque;
    margin: 3rem
}
main{
    min-height: 60vh;
}

main div{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

main div.output {
    border:1px solid cornflowerblue;
    width: 50%;
}